<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= "タイヤキの部屋temp1" %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "チャットを終了する", "#" %>
    </div>
  </div>
</div>
<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        <%= "taikyaki-temp" %>
      </div>
      <div class="message-date">
        <%= "2022/3/2 20:51:23" %>
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        <%= "こんちには" %>
      </div>
    </div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        <%= "taikyaki-temp" %>
      </div>
      <div class="message-date">
        <%= "2022/3/2 20:59:56" %>
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        <%= "あああ" %>
      </div>
    </div>
  </div>
</div>
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>